<% content_for :head do %>
  <title>Suomalaiset stand up -koomikot | Koomikot.com</title>
<% end %>

<h1>Kotimaiset stand up -koomikot</h1>

<% if organizer_signed_in? %>

    <% if current_organizer.admin? %>
        <div style="width: 100%;"><%= link_to 'Lisää koomikko', new_comedian_path, class: "btn btn-info btn-large clear" %></div>
    <% end %>
<% end %>

<% @comedians.each do |comedian| %>

    <div class="comedian-listing">

        <%= link_to comedian do %>
         <%= image_tag comedian.profile_photo_url, class: "comedian-picture" %>
        <% end %>

        <div class="comedian-name">
            <p><%= link_to comedian.stagename, comedian %></p>
        </div>
        <% if organizer_signed_in? %>
            <% if current_organizer.admin? %>
                <div class="admin-links">
                    <%= link_to 'Muokkaa', edit_comedian_path(comedian) %>
                    <%= link_to 'Poista', comedian, method: :delete, data: { confirm: 'Oletko varma?' } %>
                </div>
            <% end %>
        <% end %>
    </div>



<% end %>
<div class="clear"></div>

