<% content_for :head do %>
  <title><%= @comedian.stagename %> | Kotimaiset stand up -koomikot | Koomikot.com</title>
<% end %>

<h1 class="comedian-profile-name"><%= @comedian.stagename %></h1>

<%= link_to 'Kotisivut', @comedian.website_url, class: "btn btn-info btn-large comedian-website-button" %>
<%= link_to 'Tilaa keikalle', "#", class: "btn btn-success btn-large comedian-book-button" %>

<div class="clear"></div>

<div class="image-frame">
  <%= image_tag @comedian.profile_photo_url, class: "comedian-picture" %>
</div>

<div class="comedian-description">
  <p><%= @comedian.description %></p>
</div>

<div class="clear"></div>

<div class="video-container">
  <iframe width="560" height="349" src="<%= "http://www.youtube.com/embed/"+@comedian.youtube_video_id %>" frameborder="0" allowfullscreen></iframe>
</div>


<% if organizer_signed_in? && current_organizer.admin? %>
  <%= link_to 'Muokkaa koomikkoa', edit_comedian_path(@comedian), class: "btn btn-info btn-large" %>
  <%= link_to 'Palaa listaukseen', comedians_path, class: "btn btn-large" %>
<% end %>
