<div class="row event-container clear">
    <div class="span1 event-date">
        <span class="badge badge-event-date"><%= event.date.to_formatted_s(:fi) %></span>
    </div>
    <div class="span6">
        <div class="event-name">
            <h2><%= link_to event.name, event %></h2>
        </div>
        <div class="event-venue">
            <p><%= event.venue %>, <%= event.city %></p>
        </div>
        <div class="event-comedians">
            <p><%= event.description %></p>
        </div>
    </div>
    <div class="span2 event-tickets">
        <p><%= event.price %> €</p>
    </div>
</div>
<div class="row">
    <div class="span7 offset1">
        <hr />
    </div>
</div>