<div class="hero-unit clear stageshot">

  <h1>Kaikki Suomen Stand-up</h1>
  <p>Tältä sivustolta löydät kotimaan stand up -keikat ja -koomikot sekä tilaat omaan tilaisuuteesi juuri oikeanlaisen esiintyjän.</p>

  <%= form_for @search do |f| %>
    <%= f.error_messages %>

      <div class="search-box">
        <div class="search-comedian-container">
          <%= f.text_field :comedian, :placeholder => "Ketä katsomaan?", class: "placeholder" %>
        </div>
        <div class="search-city-container">
          <%= f.text_field :city, :placeholder => "Missä kaupungissa?", class: "placeholder" %>
        </div>
        <div class="search-date-container">
          <%= f.text_field :date, :placeholder => "Minä päivänä?", class: "datepicker placeholder" %>
        </div>
        <div class="search-submit-container">
          <%= f.submit "Etsi" %>
        </div>
        <div class="clear"></div>
      </div>

  <% end %>
</div>

<div class="clear"></div>

<h2>Kotimaiset stand up -koomikot</h2>
<div class="clear"></div>
<% if organizer_signed_in? %>
    <% if current_organizer.admin? %>
        <div style="width: 100%;"><%= link_to 'Lisää koomikko', new_comedian_path, class: "btn btn-info btn-large clear" %></div>
    <% end %>
<% end %>
<%= render :partial => @search.comedians %>